body {
    font-family:sans-serif;
}
table {
    width:500px;
    margin:auto;
    border:1px solid black;
    border-collapse: collapse;
}
table td {
    border: 1px solid black;
    height: 166px;
    text-align: center;
    font-size:96px;
}
.configurador{
    text-align: center;
    border: none;
    margin-bottom: 10px;
}
.configurador input {
    padding: 10px;
}
.configurador span{
    background-color: lightgray;
    padding:9px 15px 11.5px 15px;
    vertical-align: baseline;
    border:1px solid gray;
}
.configurador button {
    padding:7px 15px;
    background-color: lightgray;
    border: 1px solid gray;
}